rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /editor/{allPaths=**} {
      allow read, write, list, delete: if request.auth != null;
    }
  }
}
